body {
  background-color: lavender;
}
.dash {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border-radius: 20px;
  width: 70%;
  height: 90%;
  display: flex;
}

.sidebar {
  flex: 0.9;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.9px);
-webkit-backdrop-filter: blur(12.9px);
border: 1px solid rgba(255, 255, 255, 0.55);
margin: 15px;
}

.chat {
  flex: 2;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.9px);
-webkit-backdrop-filter: blur(12.9px);
border: 1px solid rgba(255, 255, 255, 0.55);
margin: 15px;
}

.nav {
  /* From https://css.glass */
background: rgba(138, 138, 138, 0.15);
border-radius: 20px 20px 0px 0px;
backdrop-filter: blur(12.9px);
-webkit-backdrop-filter: blur(12.9px);
height: 60px;
padding: 20px;
}